@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 1.5;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

html,
body {
	width: 100%;
	height: 100%;
}

.perspective {
	perspective: 1200px;
}

.backface-hidden {
	backface-visibility: hidden;
}

.preserve-3d {
	transform-style: preserve-3d;
}

@layer base {
	::-webkit-scrollbar {
		/* Customize the scrollbar width */
		@apply w-2 rounded-full border-2 border-rose-500 bg-transparent;
	}

	::-webkit-scrollbar-track {
		/* Customize the scrollbar track */
		@apply border-2 border-border bg-transparent p-0.5;
	}

	::-webkit-scrollbar-thumb {
		/* Customize the scrollbar thumb */
		@apply rounded-full bg-muted-foreground;
	}

	:root {
		--text-primary: #333333;
		--text-secondary: #666666;

		--background: #ffffff;

		--background-400: #f0f0f0;
		--background-500: #e0e0e0;
		--background-600: #d0d0d0;
		--background-700: #c0c0c0;

		--background-card: #ffffff;
		--background-light: #f5f5f5;
		--background-border: #e0e0e0;

		--foreground: #333333;
		--foreground-dark: #000000;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary-50: #fffbeb;
		--primary-100: #fef3c7;
		--primary-200: #fde58a;
		--primary-300: #fbd24e;
		--primary-400: #fabe25;
		--primary-500: #f49d0c;
		--primary-600: #d87607;
		--primary-700: #bc560a;
		--primary-800: #923f0e;
		--primary-900: #78340f;
		--primary-950: #451a03;

		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}
}

@layer base {
	/*
     1. Use a more-intuitive box-sizing model.
   */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/*
      2. Remove default margin
    */
	* {
		margin: 0;
	}

	/*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
    */
	body {
		overflow-x: hidden;
		overflow-y: scroll;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	/*
      5. Improve media defaults
    */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/*
      6. Remove built-in form typography styles
    */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/*
      7. Avoid text overflows
    */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/*
      8. Create a root stacking context
    */
	#root,
	#__next {
		isolation: isolate;
	}

	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		width: 100%;
		height: 100%;
	}

	body {
		overflow-y: scroll;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background font-sans text-textPrimary;
	}

	.cardOneSize {
		@apply h-[50mm] w-[90mm];
	}

	.cardTwoSize {
		@apply h-[55mm] w-[85mm];
	}

	.bg-primary-gradient {
		@apply bg-gradient-to-l from-primary-500 from-[-45%] to-transparent to-90%;
	}
}

@layer components {
	/* Heading classes */
	.h1 {
		@apply text-[32px] leading-[44px] tracking-[2%]
        lg:text-[36px] lg:leading-[48px];
	}

	.h2 {
		@apply text-[28px] leading-[36px] tracking-[2%]
        lg:text-[32px] lg:leading-[40px];
	}

	.h3 {
		@apply text-[24px] leading-[32px]
        lg:text-[28px] lg:leading-[36px];
	}

	.h4 {
		@apply text-[20px] leading-[28px]
        lg:text-[24px] lg:leading-[32px];
	}

	.h5 {
		@apply text-[18px] leading-[24px]
        lg:text-[20px] lg:leading-[28px];
	}

	.h6 {
		@apply text-[16px] leading-[24px]
        lg:text-[18px] lg:leading-[28px];
	}

	.container-lg {
		@apply container max-w-[992px];
	}
}
